.Pagina{
    background-color: beige;
    color:black;
    margin:0;
}

.Menu{
    background-color: beige;
    color : black;
    text-align: center;
    height : 2cm;
    font-size: 25px;
    border-bottom: 1px solid rgb(182, 117, 91);
    padding-top: 1cm;
}

.links{
    margin-right : 2cm;
    color:black;
    font-size:15px;
    text-decoration: none;
}
.continut{
    text-align: center;
    background-color: rgb(182, 117, 91);
    color:black;
    margin-top: 2cm;
    height: 30cm;
    width: 40cm;
}
.stanga{
    background-color: beige;
    color:black;
    border-style: double;
    width: 10cm;
    margin-top: 3cm;
}
.dreapta{
    background-color: beige;
    color: black;
    border-style: double;
    width: 20cm;
    margin-top: 3cm;
}