.Pagina{
    background-color: beige;
    color:black;
    margin:0;
}

.Menu{
    background-color: beige;
    color : black;
    text-align: center;
    height : 2cm;
    font-size: 25px;
    border-bottom: 1px solid rgb(182, 117, 91);
}

.links{
    margin-right : 2cm;
}

