.Pagina{
    background-color: lightgray;
    color:black;
    margin:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Menu{
    background-color: lightgray;
    color : black;
    text-align: center;
    height : 2cm;
    font-size: 25px;
    border-bottom: 1px solid black;
    padding-top: 1cm;
}

.links{
    margin-right : 2cm;
    color:black;
    font-size:15px;
    text-decoration: none;
}
.continut{
    text-align: center;
    background-color: lightgray;
    color:black;
    margin-top: 2cm;
    height:40cm;
    width: 40cm;
    display: grid;
    align-content: space-between;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right:auto;
}

.stanga{
    background-color: white;
    color:black;
    border-style: double ;
    width: 10cm;
    margin-top: 1cm;
    height: 25cm;
    TEXT-ALIGN: left;
    padding: 10px;
}
.stanga-grup {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.stanga-grup2{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.stanga-grup3{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.stanga-grup4{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.pill.principal {
    background-color: black;
    color: white;
}
.dreapta{
    background-color: white;
    color: black;
    border-style: double;
    width: 20cm;
    margin-top: 1cm;
    height:25cm;
}
.pill {
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    margin-bottom: 5px;
    display: inline-block;
}
.poza1{
    inline-size: auto;
}